{% extends 'base.html' %}

{% block content %}

<div class="row" style="background-color: bisque;">
    <marquee><h1 class="text-primary">Add your comment</h1> </marquee> 
    <div class="col-lg-6">
        <img src="{{ url_for('static', filename = '/images/comment2.png')}}" alt="image" style="width: 100%;">
    </div>
    <div class="col-lg-6">
        <form action="" method="POST" class="centerForm">
            {{form.hidden_tag()}}
            <fieldset>
                <div class="form-group">
                    <p>{{ form.email.label(class="form-control-label")}}</p>
                    <p>{{ form.email(class="form-control-input") }}</p>
                </div>
        
                <div class="form-group">
                    <p>{{ form.comment.label(class="form-control-label")}}</p>
                    <p>{{ form.comment(class="form-control-textarea") }}</p>
                </div>

                <div class="form-group">
                    {{ form.submit(class="btn bg-primary")}}
                </div>
            </fieldset>
        </form>

        <div class="text-muted text-center">
            Don't have an account <a href="{{ url_for ('register') }}">Sign Up</a>
        </div>
    </div>

</div>


{% endblock %}